@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sidebar-icon {
    @apply relative flex items-center justify-center h-12 w-12 mt-2 mb-2 mx-auto bg-slate-700 text-slate-300 hover:bg-slate-300 hover:text-slate-700 rounded-3xl hover:rounded-md transition-all duration-100 ease-linear cursor-pointer;
  }
  .sidebar-tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max left-14 rounded-md text-white bg-slate-800 text-xs font-bold transition-all duration-100 scale-0 origin-left;
  }
}
.sidebar-icon {
  --sidebar-icon-color: #ddd6fe;
}

.sidebar-icon:hover {
  --sidebar-icon-color: #334155;
}

/* 
.button-hb .line {
  animation: to-open-hb 1s;
}

.button-hb[aria-expanded="false"] .line {
  animation: to-close-hb 1s;
}

.button-hb .line.top {
  --rotation: -45deg;
  transform-origin: 65px 45px;
}
.button-hb .line.bottom {
  --rotation: 45deg;
  transform-origin: 60px 55px;
}

@keyframes to-close-hb {
  0% {
    stroke-dashoffset: 0;
  }
  40% {
    stroke-dashoffset: 79.9;
  }
  60% {
    stroke-dashoffset: 79.9;
    rotate: var(--rotate);
  }
  100% {
    stroke-dashoffset: 0;
    rotate: var(--rotate);
  }
}

@keyframes to-close-hb {
  0% {
    stroke-dashoffset: 0;
    rotate: var(--rotate);
  }
  40% {
    stroke-dashoffset: 79.9;
    rotate: var(--rotate);
  }
  60% {
    stroke-dashoffset: 79.9;
  }
  100% {
    stroke-dashoffset: 0;
  }
} */
